[General]
RemoveAlign4: False
SimplifyVars: False

[Number]
MinValue: 0
MaxValue: 100
Weight: 2
InnerWeight: 8

[SourceVar]
Weight: 2
InnerWeight: 8

[BinaryOp]
Weight: 8
InnerWeight: 4

[UnaryOp]
Weight: 1
InnerWeight: 1

[Return]
Threshold: 0.1

[Program]
StatementThreshold: 0.75

[Statement]
MaxStatements: 5
Weights: [125,40,20,10,5]
