[General]
RemoveAlign4: True
RemoveI32: False
SimplifyVars: False
ReplaceMinus: False
MinusReplacement: ~
OptimizationLevel: 0

[Number]
MinValue: 0
MaxValue: 100
Weight: 2
InnerWeight: 8

[SourceVar]
Weight: 2
InnerWeight: 8

[BinaryOp]
Weight: 8
InnerWeight: 4

[UnaryOp]
Weight: 1
InnerWeight: 1

[Return]
Threshold: 0.1

[Branch]
ElseRatio: 0.5
MaxInnerAssignments: 3
InnerWeights: [4,4,2]
AllowNested: False
SimplifyLabels: True
RemovePreds: True
useGoto: False

[Program]
StatementThreshold: 0.75

[Assignments]
MaxAssignments: 5
Weights: [125,40,20,10,5]
RenameTargetVars: False

[Statements]
BranchRatio: 0

[ParseTree]
SimplifyAssignments: True

[LLVM]
AppendSemicolon: True

[PostOrder]
AppendSemicolon: True
