[General]
RemoveAlign4: False
SimplifyVars: False

[Number]
MinValue: 0
MaxValue: 100
Weight: 1
InnerWeight: 2

[BinaryOp]
Weight: 3
InnerWeight: 1

[UnaryOp]
Weight: 1
InnerWeight: 1

[SourceVar]
Weight: 1
InnerWeight: 2

[Return]
Threshold: 0.1

[Program]
StatementThreshold: 0.75

[Statement]
MaxStatements: 5
Weights: [125,40,20,10,5]
