[Number]
MinValue: 0
MaxValue: 100
Abstract: False
Weight: 2
Degrade: 1

[NumberAbstraction]
NumbersPerStatement: 20
MinAbstractedValue: 3
MaxAbstractedValue: 100000

[Var]
NumVars: 15
Weight: 2
Degrade: 1

[BinaryOp]
Weight: 10
Degrade: 2

[UnaryOp]
Weight: 1
Degrade: 2
AllowAsStatement: False

[Branch]
MaxInnerStatements: 5
ElseRatio: 0.5
Weight: 3
Degrade: 1
AllowNested: True

[Loop]
MaxInnerStatements: 5
Weight: 3
Degrade: 1
AllowNested: True

[Assignment]
Weight: 23
Degrade: 1

[Statements]
MaxStatements: 5
Weights: [125,40,20,10,5]
