[General]
OptimizationLevel: 0

[Number]
MinValue: 0
MaxValue: 100
Weight: 2
InnerWeight: 8
NumbersPerStatement: 15

[Var]
NumVars: 10

[SourceVar]
Weight: 2
InnerWeight: 8

[BinaryOp]
Weight: 8
InnerWeight: 4

[UnaryOp]
Weight: 1
InnerWeight: 1

[Branch]
ElseRatio: 0.5
MaxInnerAssignments: 3
InnerWeights: [4,4,2]
AllowNested: False
BranchPerStatement: 1

[Assignments]
MaxAssignments: 5
Weights: [125,40,20,10,5]
;MaxAssignments: 3
;Weights: [50,30,20]

[Statements]
BranchRatio: 0.1

[Vocabs]
MaxTemps: 50
