[Number]
MinValue: 0
MaxValue: 100
Abstract: False
Weight: 2
Degrade: 1

[NumberAbstraction]
NumbersPerStatement: 20
MinAbstractedValue: 3
MaxAbstractedValue: 100000

[Var]
NumVars: 15
Weight: 2
Degrade: 1

[BinaryOp]
Weight: 10
Degrade: 2
Ops: ['+', '-', '*', '/', '%', '<<', '>>', '&', '|', '^']
OpsWeights: [1, 1, 1, 1, 1, 0, 0, 0, 0, 0]

[StatementUnaryOp]
Weight: 1
Degrade: 2
Ops: ['++', '--']
OpsWeights: [1, 1]
PositionRatio: 0.5
AllowAsStatement: False

[OtherUnaryOp]
Weight: 0
Degrade: 2
Ops: ['~', ]
OpsWeights: [1, ]

[Branch]
MaxInnerStatements: 5
ElseRatio: 0.5
Weight: 3
Degrade: 1
AllowNested: True

[Loop]
MaxInnerStatements: 5
Weight: 3
Degrade: 1
AllowNested: True

[Condition]
InitialNestingLevel: 1
NegateRatio = 0.0


[Assignment]
Weight: 23
Degrade: 1

[Statements]
MaxStatements: 5
MoreStatementsProbability: 0.45
