[General]
SimplifyVars: False

[Branch]
SimplifyLabels: True
RemovePreds: True

[Assignments]
RenameTargetVars: False

[LLVM]
AppendSemicolon: True
ReplaceTemps: False
RemoveAlign4: True
RemoveNSW: True
RemoveI32: False

[PostOrder]
AppendSemicolon: True

[Number]
MaxUnabstractedValue: 2